#popup-content{
	width: 400px;
	padding: 1px;
}

.content-wrapper{
	height: 400px;
}

.spacer{
	flex: 1;
}

.modified-nav-wrapper{
	display: flex;
	width: 100%;
}

.modified-card {
	user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;
	height: 100px;
	display: flex;
	align-items: center;
}

.modified-card:hover {
	cursor: help;
	background-color: #fff3e0;
	transition: ease-in-out 0.2s all;
}

.logo{
	height: 60px;
	width: 60px;
	margin: 20px;
}

.modified-card-title {
	font-size: 20px;
	font-family: 'Roboto';
	margin: 20px;
}

.modified-badge {
	right: 0px;
	margin: 20px;
}